*{
	padding: 0px;
	margin: 0px;
}
header{
		background-image: url(border.png); 
}

#main-aside-wrapper {
  display: flex;
  flex-direction: column;
}
#order {
  display: flex;
  flex-direction: column;
}
#main-aside-wrapper headermaw, #main-aside-wrapper navmaw, #main-aside-wrapper navigmaw, #main-aside-wrapper footermaw{
  background-color: #2e2525;
  margin: 0px;
  padding: 0px;
}
#main-aside-wrapper headermaw {
  flex: 1;
  order: 1;
}
#main-aside-wrapper navigmaw {
  flex: 1;
  order: 2;
}
#main-aside-wrapper navmaw {
  flex: 1;
  order: 3;
}
#main-aside-wrapper footermaw {
  flex: 1;
  order: 4;
}
#order linkmaw
{
  flex: 1;
  order: 1;
}
#order formmaw
{
  flex: 1;
  order: 2;
}
#order tablemaw
{
  flex: 1;
  order: 3;
}
.container {
  max-width: 960px;
  margin: auto;
  color: #D7D1C5;
}

.container a {
  color:#D7D1C5;
}
  
.head{
	width:100%;
	padding: 15px; 
	height:150px;
	order: 1
}
.photo
{
	float:left; 
	margin:10px; 
	width:100px; 
	height:100px;
}

.navigation a{
	color: #D7D1C5;
}

.round {
	float:left; 
	margin:10px;
	width:100px; 
	height:133px;	
    border-radius: 25px;
    border: 3px solid #9E8576;
    box-shadow: 0 0 7px #000;
   }
.head_1{
 width:350px; 
 background:#5E4E4A;
 color: #D7D1C5;
 padding:5px; 
 margin:40px; 
 border-width: 3px; 
 border-color: #9E8576; 
 border-style: dashed; 
}	
.h1 
{
 width:300px; 
 background:#5E4E4A;
 color: #D7D1C5;
 padding:5px; 
 border-width: 3px; 
 border-color: #9E8576; 
 border-style: solid; 
 
 }
.navigation {
  list-style: none;
  padding:10px;
  background-color: #5E4E4A;
  height: auto;
  line-height: 2;
  align-content: center;
}
.maintable {
  margin: 25px;
  height: 200px;
  width: 300px;
  border: 3px solid #9E8576;
  border-collapse: collapse;
}
.maintable td {
  border: 3px solid #9E8576;
  text-align: center;
}
.maintable tr:nth-child(2) {
  background-color: #5E4E4A;
}
.content li {
  margin-left: 25px;
  height: auto;
}
@media screen and (min-width: 800px) {
  .navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding:10px;
  background-color: #5E4E4A;
  height: auto;
  align-content: center;
}
.head_1{
 width:50%; 
 background:#5E4E4A;
 color: #D7D1C5;
 padding:5px; 
 margin:40px; 
 border-width: 3px; 
 border-color: #9E8576; 
 border-style: dashed; 
}
.h1 
{
 width:40%; 
 background:#5E4E4A;
 color: #D7D1C5;
 padding:5px; 
 border-width: 3px; 
 border-color: #9E8576; 
 border-style: solid; 
 
 }
 #order formmaw
{
  flex: 1;
  order: 3;
}
#order tablemaw
{
  flex: 1;
  order: 2;
}
}
form {
  margin: 20px;
  color: #D7D1C5;
}
footer{
	 
     background-color: #5E4E4A;
	 padding: 15px;
}
