form{
    background-color: #E9A762;
    padding: 70px;
    text-align: left;
    margin: auto;
    display: table;
    border-radius:50px;
	background-image: url(border.png); 
    border: 5px solid #F1C494;
}
#button1{
 appearance:none;
 -webkit-appearance:none;
 padding:10px;
 border:none;
 background-color:#E96C62;
 color:#73150D;
 font-weight:600;
 border-radius:5px;
 width:100%;
}
.head_1{
 width:400px; 
 color: #407D91;
 text-align: center;
 font-family: Arial;
}	
#result {
 color: #407D91;
 text-align: center;
 font-family: Arial;
 font-size: 50px;
}
p {
 font-family: Arial;
}